name: Code Quality

on:
  workflow_call:
  pull_request:

permissions:
  contents: read

jobs:
  tapioca:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3
        bundler-cache: true
    - run: bin/tapioca gem --verify
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    needs: tapioca
    strategy:
      matrix:
        ruby:
          - '3.1'
          - '3.2'
          - '3.3'
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run the default task
      run: bundle exec rake
